<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just a Burger Restaurant</title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <header>
    <h1>Welcome to McBurgies!</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <main>
    <article>
      <h2>New Store Openings</h2>
      <p>McBurgies is proud to announce the opening of three new locations in the greater Springfield area. You can now enjoy our delicious burgers at the following locations:</p>
      <ul>
        <li class="locations">McBurgies East: 123 Main St, Springfield East</li>
        <li class="locations">McBurgies West: 456 Oak St, Springfield West</li>
        <li class="locations">McBurgies Downtown: 789 Main St, Springfield Downtown</li>
      </ul>
    </article>
    <article>
      <h2>Updated Holiday Hours</h2>
      <p>McBurgies will be open on all holidays during the holiday season, including Christmas Day and New Year's Day. Our hours of operation will be as follows:</p>
      <ul>
        <li class="hours">Monday-Friday: 10am-10pm</li>
        <li class="hours">Saturday-Sunday: 9am-11pm</li>
      </ul>
      <p>We hope to see you soon!</p>
    </article>
  </main>
  <footer>
    <p>&copy; 2023 McBurgies</p>
  </footer>
</body>

</html>