<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just a Burger Restaurant</title>
</head>

<body>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <header>
    <h1>McBurgies</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <main>
    <section class="menu">
      <h2>The Menu</h2>
      <ul>
        <% burgers.forEach(function(burger) { %>
          <li class="items">
            <a href="/menu/<%= burger.id %>"><%= burger.name %></a>
          </li>
        <% }); %>
        <li class="items">
          <a href="/new"> Create a new burger </a>
        </li>
      </ul>
      
  </main>
  <footer>
    <p>&copy; 2023 McBurgies</p>
  </footer>
</body>

</html>